<!-- Semantic Vanilla Navbar from https://www.aleksandrhovhannisyan.com/blog/responsive-navbar-tutorial/#responsive-navbar-desktop-layout -->

<header id="navbar">
    <nav class="navbar-container container">
      <a href="/" class="home-link">
        <div class="navbar-logo"></div>
        Lift Kinetics
      </a>
      <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div id="navbar-menu" class="attached">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="/services">Services</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/why">Why Us</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/hire">Hire Us</a></li>
          <button type="button" class=""></button>
          <div class="dropdown">
              <button class="dropbtn">More</button>
              <div class="dropdown-content">
                <li class="navbar-item"><a class="navbar-link" href="/about">About Us</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/contact">Contact Us</a></li>
              </div>
          </div>
        </ul>
      </div>
    </nav>
</header>